{{#each reviews}}
<div class="review-m">
    <div class="card-review card-padrao card-content">
        <div class="titulo">
            <div class="info-review">
                <div class="div-info-usuario">
                    <div id="div-img-usuario-card">
                        <a class="span-data-review" style="text-decoration: none;" href="/usuario/perfil/{{this.idUsuario}}" ><img id="img-usuario-card" src="{{this.icone}}" alt="icone-user"></a>
                    </div>
                    <div id="div-info">
                        <a class="span-data-review nome-usuario" style="text-decoration: none;" href="/usuario/perfil/{{this.idUsuario}}" >{{this.nomeUsuario}}</a>
                        <a class="span-data-review login-usuario" style="text-decoration: none;" href="/usuario/perfil/{{this.idUsuario}}" >@{{this.loginUsuario}}</a>
                    </div>
                </div>
                <span class="span-data-review">{{this.modDataAtualizacao}}</span>
            </div>
            <div class="t-musica-artista">
                <h2 class="titulo-musica">{{this.musica}}</h2>
                <h4 class="titulo-artista">{{this.artista}}</h4>
            </div>
        </div>
        <div class="conteudo-review">
            <span class="texto-padrao">
                {{this.review}}
            </span>
        </div>
        <div class="footer-review">
            <div class="reacoes">
                {{#if ../usuarioAutenticado}}
                    <button class="btn-padrao-h btn-like btn-like-dlike" data-review-id={{this.id}} data-usuario-id={{../usuarioAutenticado.userId}} data-like="1"><i id="lr-{{this.id}}u-{{../usuarioAutenticado.userId}}" {{#if this.usuarioLike}} class="bi bi-hand-thumbs-up-fill fs-5 i-azul" {{else}} class="bi bi-hand-thumbs-up fs-5 i-azul" {{/if}}></i></button>
                {{else}}
                    <button disabled="true" class="btn-padrao-h btn-like btn-like-dlike"><i class="desabilitado bi bi-hand-thumbs-up fs-5 i-azul"></i></button>
                {{/if}}

                <span id="qtd-like-{{this.id}}" class="span-reacao">{{this.qtdLikes}}</span>

                {{#if ../usuarioAutenticado}}
                    <button class="btn-padrao-h btn-dislike btn-like-dlike" data-review-id={{this.id}} data-usuario-id={{../usuarioAutenticado.userId}} data-like=""><i id="dr-{{this.id}}u-{{../usuarioAutenticado.userId}}" {{#if this.usuarioDislike}} class="bi bi-hand-thumbs-down-fill fs-5 i-azul" {{else}} class="bi bi-hand-thumbs-down fs-5 i-azul" {{/if}}></i></button>
                {{else}}
                    <button disabled="true" class="btn-padrao-h btn-dislike btn-like-dlike"><i class="desabilitado bi bi-hand-thumbs-down fs-5 i-azul"></i></button>
                {{/if}}

                <span id="qtd-dislike-{{this.id}}" class="span-reacao">{{this.qtdDislikes}}</span>         

                <button id="btn-carregar-comentarios" class="btn-padrao-h btn-comentarios" data-review-id={{this.id}}><i class="bi bi-chat fs-5 i-azul"></i></button>
                <span id="qtd-comentarios-{{this.id}}" class="span-reacao">{{this.qtdComentarios}}</span>         
            </div>
            {{#if this.apresentarOpcoes}}
                <div class="opcoes dropdown">
                        <button class="btn-padrao-h btn-opcoes" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical fs-5 icone-opcoes"></i>
                        </button>
                        <form class="drop-menu dropdown-menu" aria-labelledby="dropdownMenuButton" method="post" action="../../reviews/remover" class="remover-review">
                            <input type="hidden" name="idReview" value={{this.id}}>
                            <button class="dropdown-item" type="submit">Remover</button>
                        </form>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="card-comentarios" id="div-com-add-{{this.id}}" hidden>
            <div class="comentarios">
                <div id="comr-{{id}}"></div>
            </div>
        {{#if ../usuarioAutenticado}}
            <div class="add-comentario">
                <textarea placeholder="Digite um comentário aqui" class="txt-padrao-bsp txt-area-comentario" name="comentario" id="cmr-{{this.id}}"></textarea>
                <button class="btn-comentar btn-padrao-h" id="btn-enviar-comentario" style="padding: 5px" data-review-id={{this.id}}><i class="bi bi-chat-text-fill fs-4 i-azul"></i></button>
            </div>
        {{/if}}
    </div>
</div>
{{/each}}