{{#each reviews}}
        <div class="card-review card-padrao">
            <div class="card-content">
                <div class="titulo">
                    <input type="hidden" name="idReview" value={{this.id}}>
                    <div class="info-review">
                        <a class="span-data-review" style="text-decoration: none;" href="../../usuario/perfil/{{this.idUsuario}}" >fh/ {{this.nomeUsuario}}</a>
                        <span class="span-data-review">{{this.modDataAtualizacao}}</span>
                    </div>
                    <div class="t-musica-artista">
                        <h2 class="titulo-musica">{{this.musica}}</h2>
                        <h4 class="titulo-artista">{{this.artista}}</h4>
                    </div>
                </div>
                <div class="conteudo-review">
                    <span class="texto-padrao">
                        {{this.review}}
                    </span>
                </div>
                <div class="footer-review">

                    {{#if ../usuarioAutenticado}}
                        <button class="btn-like btn-like-dlike" data-review-id={{this.id}} data-usuario-id={{../usuarioAutenticado.userId}} data-like="1"><i id="lr-{{this.id}}u-{{../usuarioAutenticado.userId}}" {{#if this.usuarioLike}} class="bi bi-hand-thumbs-up-fill fs-5 i-azul" {{else}} class="bi bi-hand-thumbs-up fs-5 i-azul" {{/if}}></i></button>
                    {{else}}
                        <button disabled="true" class="btn-like btn-like-dlike"><i class="desabilitado bi bi-hand-thumbs-up fs-5 i-azul"></i></button>
                    {{/if}}

                    <span id="qtd-like-{{this.id}}" class="span-reacao">{{this.qtdLikes}}</span>

                    {{#if ../usuarioAutenticado}}
                        <button class="btn-dislike btn-like-dlike" data-review-id={{this.id}} data-usuario-id={{../usuarioAutenticado.userId}} data-like=""><i id="dr-{{this.id}}u-{{../usuarioAutenticado.userId}}" {{#if this.usuarioDislike}} class="bi bi-hand-thumbs-down-fill fs-5 i-azul" {{else}} class="bi bi-hand-thumbs-down fs-5 i-azul" {{/if}}></i></button>
                    {{else}}
                        <button disabled="true" class="btn-dislike btn-like-dlike"><i class="desabilitado bi bi-hand-thumbs-down fs-5 i-azul"></i></button>
                    {{/if}}

                    <span id="qtd-dislike-{{this.id}}" class="span-reacao">{{this.qtdDislikes}}</span>                       
                </div>
            </div>
        </div>
    {{/each}}